// Variables
@import "variables";

#wrapper {
  #app {
    transition: opacity 0.3s ease-in-out;
    &.active {
      opacity: 1 !important;
    }
  }

  .datatable {
    padding-bottom: 86px;

    .newButton {
      bottom: 15px;
      right: 15px;
      position: absolute;
    }

    .mediumColumn {
      width: 150px;
    }

    .smallColumn {
      width: 30px;

      .input-group {
        margin: 0;
        width: 30px;
      }

      .input-group__details {
        display: none;
      }
    }
  }
  @import "pages/login";
  @import "pages/404";
}