@import "~normalize.css"

body
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

#app
  transition opacity .3s ease-in-out
  &.active
    opacity 1 !important

  .sidebar
    margin 20px 0 0 20px

  .container
    padding 20px

  .pagination-container
    margin-top 20px
    &::after
      content ''
      display block
      clear both

  .search-container
    margin-bottom 20px
    width 300px

  .logo
    margin 10px 0
    height 100%
    width 72px
    svg
      position absolute
      top 50%
      transform translateY(-50%)
      path
        fill #faee38

  .fr
    float right

  a, .link
    cursor pointer
    color #3c3c3c
    outline none
    text-decoration underline
    transition color 0.3s ease-in-out
    
    &:hover
      color #b6b6b6
  
  .el-alert
    margin-bottom 10px

    &:last-of-type
      margin-bottom 20px
      
  .g-core-image-corp-container .btn-upload
    background #3c3c3c
    border-color #3c3c3c
    border-radius 4px
    
    &:hover
      background rgb(99, 99, 99)
      border-color rgb(99, 99, 99)
  
  .g-resize-bar
    background rgb(99, 99, 99)
    
  .g-resize-highlight
    background #3c3c3c
    
  .galeria
    border-bottom 1px solid #d8d8d8
    padding-bottom 10px

    .titulo
      display block
      margin-bottom 20px
      
    .subtitulo
      display block
      margin 15px 0
      font-size 14px