$theme := {
  primary: theme_primary
  accent: theme_accent
  secondary: theme_secondary
  info: theme_info
  warning: theme_warning
  error: theme_error
  success: theme_success
}

$selection-switch-dark-enabled-color := theme_secondary
$selection-switch-light-enabled-color := theme_secondary