#wrapper {
  #app {
    transition: opacity 0.3s ease-in-out;
    &.active {
      opacity: 1 !important;
    }
  }

  .logo {
    margin: 10px 0;
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      path {
        fill: white;
      }
    }
  }

  .gerenciadores {
    width 100%

    .menu {
      width 100%
    }

    .right {
      position absolute
      right 15px
    }
    .left {
      position absolute
      left 15px
    }

    .list__tile {
      padding 0;
    }
  }

  .datatable {
    a {
      color: $theme.accent;
      text-decoration: none;
      font-size: 14px;
      transition: .3s cubic-bezier(.25, .8, .25, 1);

      &:hover {
        color: $grey.darken-1;
      }
    }

    padding-bottom: 86px;

    .newButton {
      bottom: 15px;
      right: 15px;
      position: absolute;
    }

    .mediumColumn {
      width: 150px;
    }

    .smallColumn {
      width: 30px;

      .input-group {
        margin: 0;
        width: 30px;
      }

      .input-group__details {
        display: none;
      }
    }
  }
}