@import "~vuetify/src/stylus/settings/_colors"

theme_primary = $grey.darken-4
theme_accent = $blue-grey.darken-1
theme_secondary = $yellow.accent-4
theme_info = $blue.lighten-1
theme_warning = $amber.darken-2
theme_error = $red.accent-4
theme_success = $green.lighten-2
theme_hover = $grey.darken-1